body {
	font-family: 'Anton', sans-serif;
	background-color: #C82C0C;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	
}

footer {	
	font-family: 'Anton', sans-serif;
	font-size: 150%;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	background-color: black;
	color: #C82C0C;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 9%;
}

.button-change {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: green;
	color: white;
	border-style: solid;
	border-color: white;
	text-decoration: none;
}

.h1 { 
	font-size: 45px;
}

.gamer {
	text-align: center;
	color: black;
	height: auto;
}

.gamer-text {
	text-align: center;
	color: black;
	white-space: pre-line;
	line-height: 90px;
	margin-top: -150px;
}

.gamer-equipment {
	text-align: center;
	color: black;
	white-space: pre-line;
	line-height: 90px;
	margin-top: -150px;
	filter: blur(10px);
}

.gamer-button {
	text-align: center;
	color: black;
	white-space: pre-line;
	line-height: 90px;
	margin-top: -150px;
}

.pictures {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	filter: blur(10px);
}

.computer {
	border-style: solid;
	border-width: 5px;
	margin: 15px;
	max-width: 50%;
}

.computer-screen {
	border-style: solid;
	border-width: 5px;
	margin: 15px;
	max-width: 70%;
}

.keyboard-mouse {
	border-style: solid;
	border-width: 5px;
	margin: 15px;
	max-width: 70%;
}

.headset {
	border-style: solid;
	border-width: 5px;
	margin: 15px;
	max-width: 70%;
}

.nintendo {
	border-style: solid;
	border-width: 5px;
	margin: 15px;
	max-width: 70%;
}